{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browser": "last 2 versions"
      }
    }]
  ],

  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ],

  "env": {
    "production": {
      "plugins": ["groundskeeper-willie"]
    }
  }
}
