doctype html
html
  head
    meta(charset="utf-8")
    title=htmlWebpackPlugin.options.title
    meta(name="keywords", content="Legends of Valour, Lov, WebGL")
    meta(name="description", content="Legends of Valour remake using web technologies")
    meta(name="twitter:card",content="summary")
    meta(name="twitter:site",content="@azazeln28")
    meta(name="twitter:creator",content="@azazeln28")
    meta(property="og:url",content="https://azazeln28.neocities.org/games/lov/")
    meta(property="og:title",content="Legends of Valour")
    meta(property="og:description",content="Legends of Valour remake using web technologies")
    meta(property="og:image",content="https://azazeln28.neocities.org/games/lov/index.jpg")
    script(async,src="https://www.googletagmanager.com/gtag/js?id=UA-109402921-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109402921-1');
  body
    canvas#game
    canvas#debug
