html, body
  margin 0
  padding 0
  width 100%
  height 100%
  background black
  color white
  display flex

canvas
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  width 100%
  height 100%

#debug
  pointer-events none
